.banner{
    position: relative;
    clear: both;
    width: 100%;
    height: 65vh;
    background-color: #98C0C4;
    display: flex;
    flex-flow: column no-wrap;
    margin: 0 auto;

}
    .banner_left{
        position: relative;
        width: 58.3%;
        height: 100%;
        background-image: url(../img/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner_right{
        position: relative;
        width: 41.7%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #banner_text_wrap{
            display: flex;
            flex-flow: column wrap;
            gap: 4rem;
            height: 90%;
            justify-content: center;
        }

        #banner_text_01{
            position: relative;
            clear: both;
            display: flex;
            flex-flow: column no-wrap;
            gap: 2rem;
        }
            #banner_text_01_01{
                font-size: 1.6rem;
            }

        #banner_text_02{
            position: relative;
            clear: both;
            font-size: 6.4rem;
            font-weight: 600;
        }

        #banner_text_03{
            position: relative;
            clear: both;
            font-size: 1.6rem;
        }

        #banner_text_04{
            position: relative;
            clear: both;
            font-size: 1.6rem;
            text-decoration: underline;
        }