.content_container{
    position: relative;
    clear: both;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
    .content{
        position: relative;
        clear: both;
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        gap: 3rem;
    }
        #content_text{
            position: relative;
            clear: both;
            width: 100%;
            height: 35%;
            padding-left: 10rem;
            padding-top: 6.4rem;
            display: flex;
            align-items: center;
        }
            #content_text_ment{
                font-size: 6.4rem;
                font-weight: 500;
            }
        #content_img{
            position: relative;
            clear: both;
            width: 100%;
            height: 60%;
            display: flex;
            flex-flow: column no-wrap;
            overflow: hidden;
        }

        #content_img img{
            width: 100%;
            height: 100%;
        }
            #content_img_wrap_01{
                position: relative;
                float: left;
                width: 50%;
                height: 100%;
                display: flex;
                flex-flow: column no-wrap;
            }

            #content_img_wrap_02{
                position: relative;
                float: left;
                width: 50%;
                height: 100%;
                display: flex;
                flex-flow: column no-wrap;
            }

            /*좌측 이미지------------------------------------*/
            /*좌측 큰 이미지----------------------------------*/
                #content_img_01{
                    width: 67.25%;
                    height: 100%;
                    overflow: hidden;
                    cursor: pointer;
                    left: 0;
                    top: 0;

                }

                    #content_hover{
                        position: absolute;
                        width: 67.25%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background-color:rgba(22, 22, 22, 0.8);
                        display: flex;
                        flex-flow: column wrap;
                        justify-content: center;
                        padding: 3rem;
                        gap: 2rem;
                        opacity: 0;
                        transition: all 300ms;
                        transform: translate(-20px);
                    }
                    #content_hover:hover{
                        opacity: 1;
                        transform: translateY(0px);
                    }

                        #title{
                            position: relative;
                            clear: both;
                            font-size: 1.4rem;
                            color: #fff;
                        }
                        #main{
                            font-size: 3.4rem;
                            color: #fff;
                        }
                        #sub{
                            position: relative;
                            clear: both;
                            font-size: 1.4rem;
                            color: #fff;
                        }
                /*좌측 작은 이미지(1)----------------*/
                #content_img_02{
                    width: 32.9%;
                    height: 100%;
                    display: flex;
                    flex-flow: column wrap;
                }
                    #content_img_02_01{
                        width: 100%;
                        height: 50%;
                        position: relative;
                        clear: both;
                        cursor: pointer;
                    }

                        #content_hover_02{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            background-color:rgba(22, 22, 22, 0.8);
                            display: flex;
                            flex-flow: column wrap;
                            justify-content: center;
                            padding: 3rem;
                            gap: 2rem;
                            opacity: 0;
                            transition: all 300ms;
                            transform: translate(-20px);
                        }
                        #content_hover_02:hover{
                            opacity: 1;
                            transform: translateY(0px);
                        }

                        #title_02{
                            position: relative;
                            clear: both;
                            font-size: 1.2rem;
                            color: #fff;
                        }
                        #main_02{
                            font-size: 1.6rem;
                            color: #fff;

                        }
                        #sub_02{
                            position: relative;
                            clear: both;
                            font-size: 1.2rem;
                            color: #fff;

                        }
 
                /*좌측 작은 이미지(2)-----------------------------*/
                    #content_img_02_02{
                        width: 100%;
                        height: 50%;
                        position: relative;
                        clear: both;
                        cursor: pointer;
                    }


                #content_img_02_03{
                    width: 100%;
                    height: 50%;
                    position: relative;
                    clear: both;
                }
                #content_img_02_04{
                    width: 100%;
                    height: 50%;
                    position: relative;
                    clear: both;
                }