.main_container{
    position:absolute;
    top : 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    z-index: 1;

}
    .main_banner_slide{
        position:relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
        .main_banner_img_all{
            position: absolute;
            left: 0;
            top: 0;
            width: 5760px;
            height: 100vh;
            z-index: 1;
        }
        .main_item{
            /* layout */
            display: flex;
            align-items: center;
            justify-content: center;
        
            /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
            position: relative;
            left: 0px;
        
            /* size */
            width: 1920px;
            height: 100vh;
            /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
            flex-shrink: 0;
        
            /* transition */
            transition: left 0.15s; 
        }
            #main_banner_01{
                position: relative;
                float: left;
                width: 1920px;
                height: 100%;
                background-image: url(../img/Diseney.png);
                background-repeat: no-repeat;
                background-size: cover;

            }
            #main_banner_02{
                position: relative;
                float: left;
                width: 1920px;
                height: 100%;
                background-image: url(../img/WineBanner.png);
                background-repeat: no-repeat;
                background-size: cover;

            }
            #main_banner_03{
                position: relative;
                float: left;
                width: 1920px;
                height: 100%;
                background-image: url(../img/B-CAST.png);
                background-repeat: no-repeat;
                background-size: cover;

            }
    .main_ment_container{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        gap: 4rem;
        padding-left: 10rem;

    }
        #main_ment{
            position: relative;
            clear: both;
            display: flex;
            height: 30%;
            flex-flow: column wrap;
            justify-content: center;
            gap: 1.6rem;
        }
            #ment_01{
                display: flex;
                flex-flow: column no-wrap;
                gap: 1.5rem;
                color: #fff;
            }
                #ment_01_01{
                    font-size: 1.6rem;
                }

            #ment_02{
                color: #fff;
                font-size: 6.4rem;
                font-weight: 600;
            }

            #ment_03{
                color: #fff;
                font-size: 1.6rem;
                text-decoration: underline;
                text-decoration-thickness: 0.15rem;
                cursor: pointer;
            }


            .prev{
                position: absolute;
                left: 0px;
                margin-left: 10rem;
                top: 650px;
                width: 40px;
                height: 40px;
                display: flex;
                flex-flow: column no-wrap;
                justify-content: space-between;
                align-items: center;
                z-index: 999;           
                cursor: pointer;
                color: #fff;
                font-size: 3rem;
              }
            
              .next{
                position: absolute;
                left: 0px;
                margin-left: 20rem;
                top: 650px;
                width: 40px;
                height: 40px;
                display: flex;
                flex-flow: column no-wrap;
                justify-content: space-between;
                align-items: center;
                z-index: 999;           
                cursor: pointer;
                color: #fff;
                font-size: 3rem;

              }


        /*#main_slide{
            position: absolute;
            left: 0px;
            margin-left: 10rem;
            top: 650px;
            width: 150px;
            height: 50px;
            display: flex;
            flex-flow: column no-wrap;
            justify-content: space-between;
            align-items: center;
            z-index: 999;
        }

        */

