.main_container{
    position:absolute;
    top : 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    z-index: 1;

}
    .main_banner_slide{
        position:relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-image: url(../img/Diseney.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;

    }
    .main_ment_container{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        gap: 6rem;
        padding-left: 10rem;
    }
        #main_ment{
            position: relative;
            clear: both;
            display: flex;
            height: 30%;
            flex-flow: column wrap;
            justify-content: center;
            gap: 1.6rem;
        }
            #ment_01{
                display: flex;
                flex-flow: column no-wrap;
                gap: 1.5rem;
                color: #fff;
            }
                #ment_01_01{
                    font-size: 1.6rem;
                }

            #ment_02{
                color: #fff;
                font-size: 6.4rem;
                font-weight: 600;
            }

            #ment_03{
                color: #fff;
                font-size: 1.6rem;
                text-decoration: underline;
                text-decoration-thickness: 0.15rem;
                cursor: pointer;
            }

        #main_pagenation{
            position: relative;
            clear: both;
            display: flex;
            height: 5%;
            flex-flow: column wrap;
            justify-content: space-between;
            color: #fff;
            font-size: 1.6rem;
        }

                