@media all and (max-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
        
    }
    
    body{
        font-size: 10px;
        color: #333;
        width: 420px;
        height: auto;
        margin: 0 auto;
    }

    #color_white{
        color: #fff;
    }
/*header&main-----------------------------------------*/
.wrap{
    width: 420px;
}
 /*header-----------------------------------------*/
    .header_container{
        width: 100%;
    }
        .header_all{
            width: 420px;
        }
            #menu_item_wrap {
                display: none;
            }
            .header_menu_01{
                width: 10%;
            }
            .header_menu_02{
                display: none;
            }
            .header_menu_03{
                display: block;
                width: 25%;
                margin-left: 22rem;

            }
                .menu_03_wrap{
                    display: flex;
                    flex-flow: column no-wrap;
                    width: 100%;
                    justify-content: right;
                    gap: 2rem;
                    align-items: center;
                }
                    .menu_03_wrap > #color_white{
                        font-size: 2.6rem;
                    }
 /*main-----------------------------------------*/

.main_container{
    width: 420px;
    
} 
    .main_banner_slide{
        background-image: url(../img/Diseney_mo.png);
    }
    .main_ment_container{
        padding-left: 3rem;
        gap: 3rem;
        justify-content: end;
        padding-bottom: 3rem;

    }
    #main_ment{
        display: flex;
        height: 30%;
        flex-flow: column wrap;
        justify-content: center;
        gap: 0.5rem;
    }
    #ment_01{
        display: flex;
        flex-flow: column no-wrap;
        gap: 1.5rem;
        color: #fff;
    }
        #ment_01_01{
            font-size: 1.4rem;
        }
        #ment_02{
            font-size: 3.6rem;
        }
        #ment_03{
            font-size: 1.4rem;
        }
        #main_pagenation{
            font-size: 1.rem;
        }

/*shop-----------------------------------------*/
.shop_container{
    width: 420px;
    overflow: hidden;
} 
    .shop_all{
        flex-flow: column wrap;
        padding-top: 8rem;

    }
/*shop left*/
.shop_left{
    padding-left: 1rem;
    width: 100%;
    height: 10%;
}
    .left_wrap{
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
        height: 100%;
        width: 100%;
    }   
        #left_link> a{
            font-size: 1.4rem;
            color: rgba(22, 22, 22, 50%);
        }

    #left_category_wrap{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 1.5rem;
        width: 100%;
    }
        #left_category{
            font-size: 1.6rem;
            height: 3rem;
            width: 9rem;
            text-align: center;
            color: #767676;
    }
        #left_category #selected{
            font-size: 1.6rem;
        }

        #left_category:hover{
            font-size: 1.6rem;
        }
/*shop right*/
.shop_right{
    padding-left: 3rem;
    width: 100%;
    height: 88%;
    padding-right: 0rem;
    padding-top: 0rem;
    justify-content: space-between;
    gap: 3rem;
}
    .right_01, .right_02, .right_03{
        width: 85%;
        height: 100%;
    }

    #right_img, #right_img_02{
        position: relative;
        clear: both;
        width: 100%;
        height: auto;
    }

    #right_text_wrap{
        width: 33rem;
        height: 30rem;
        gap: 0.8rem;
        text-align: center;

    }

        #right_text_01{
            gap: 1rem;
            justify-content: center;
        }

        #right_text_01_01{
            font-size: 1.4rem;
        }
        #right_text_02{
            font-size: 2.6rem;
        }
        #right_text_03{
            font-size: 1.6rem;
        }
/*banner*/
.banner{
    width: 420px;
    height: 368px;
    flex-flow: column wrap;

}
    .banner_left{
        position: relative;
        width: 100%;
        height: 60%;
        background-image: url(../img/banner.jpg);
    }
    .banner_right{
        position: relative;
        width: 100%;
        height: 40%;
        padding-top:0%;
        padding-left: 3rem;
    }
        #banner_text_wrap{
            gap: 0.5rem;
            justify-content: center;
        }
        
            #banner_text_01{
                flex-flow: column no-wrap;
                gap: 2rem;
            }
            #banner_text_01_01{
                font-size: 1.4rem;
            }
            #banner_text_02{
                font-size: 3.2rem;
            }
            #banner_text_03{
                display: none;
            }
            #banner_text_04{
                font-size: 1.4rem;
            }

}   