*{
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: #222222;
}
ul, ol, li {
    list-style: none;
    
}

a{
    text-decoration: none;
    color: #222222;
}
img{
    width: 100%;
    height: auto;
}